{{ define "main" }}
<!-- begin authors -->
<div class="services-container container">
    <ul class="card-list">
  
        <li class="card">
          <a class="card-image" href="" target="_blank" style="background-image: url('/images/earnest-money-deposit.jpg');" data-image-full="">
            <img src="" alt="Psychopomp" />
          </a>
          <a class="card-description" href="" target="_blank">
            <h2 class="card-title">Earnest Money Deposit</h2>
          </a>
        </li>
        
        <li class="card">
            <a class="card-image" href="" target="_blank" style="background-image: url('/images/private-money-lending.jpg');" data-image-full="">
                <img src="" alt="Psychopomp" />
            </a>
            <a class="card-description" href="" target="_blank">
                <h2 class="card-title">Private Money Lending</h2>
            </a>
        </li>
        
        <li class="card">
            <a class="card-image" href="" target="_blank" style="background-image: url('/images/hard-money-lender.jpg');" data-image-full="">
                <img src="" alt="Psychopomp" />
            </a>
            <a class="card-description" href="" target="_blank">
                <h2 class="card-title">Hard Money Lending</h2>
            </a>
        </li>
        
      </ul>
</div>

<style>
    /* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 17rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 25rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #0e0e0e;


  .card-title {
    font-family: "Fustat", serif !important;
    font-weight: 500 !important;
    margin-bottom: 10px;
  }
}

.card:hover {
    background-color: var(--background-alt-color);
    .card-title {
        color: var(--brand-color) !important;
    }
}

.card-description {
  display: block;
  padding: 2em 0.5em;
  text-decoration: none;
  border-top: 1px solid #0e0e0e;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}
</style>
<!-- end authors -->
{{ end }}