{{ define "main" }}
<!-- begin authors -->
<div class="services-container container">
  <ul class="card-list">
  
    <li class="card">
          <a class="card-image" href="" target="_blank" style="background-image: url('/images/earnest-money-deposit.jpg');" data-image-full="">
            <img src="" alt="Psychopomp" />
          </a>
          <a class="card-description" href="" target="_blank">
            <h2 class="card-title">Earnest Money Deposit</h2>
          </a>
        </li>
        
        <li class="card">
            <a class="card-image" href="" target="_blank" style="background-image: url('/images/private-money-lending.jpg');" data-image-full="">
                <img src="" alt="Psychopomp" />
            </a>
            <a class="card-description" href="" target="_blank">
                <h2 class="card-title">Private Money Lending</h2>
            </a>
        </li>
        
        <li class="card">
            <a class="card-image" href="" target="_blank" style="background-image: url('/images/hard-money-lender.jpg');" data-image-full="">
                <img src="" alt="Psychopomp" />
            </a>
            <a class="card-description" href="" target="_blank">
                <h2 class="card-title">Hard Money Lending</h2>
            </a>
        </li>
        
      </ul>
</div>
<!-- end authors -->
{{ end }}