.about-hero-container {
    height: 45vh;
    width: 100vw;
    background-image: url('/images/about-lg-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;
    filter: grayscale(100%);
    text-align: center;
}

.about-content-container {
    .title {
        text-align: center;
        padding: 10px 0 10px 0;
        border: 1px solid #0e0e0e;
    }
    .inner {
        padding-top: 25px;
    }
}


