.hero {
    .hero-splash {
        @media only screen and (max-width: $tablet) {
            background-image: url('/images/jao-splash-2.jpg');
        }
        background-image: url('/images/jao-splash.jpg');
        background-size: cover;
        display: flex; 
        height: 95vh;

        &_content {
            margin-top: 15%;
            margin-left: 50px;

            a {
                font-family: "Fustat", serif !important;
            }
            

            @media only screen and (max-width: $mobile) {
                margin-left: 0;
            }

            .widget-info__title {
                font-size: 3rem;
                font-family: "Fustat", serif;
                padding: 5px;
                border: 1px solid #000000;

                @media only screen and (max-width: $tablet) {
                    font-size: 2rem;
                }
            }

            .widget-info__desc {
                font-size: 1.5rem;
                font-weight: 400;
                text-align: left;
                font-family: "Fustat", serif;

                @media only screen and (max-width: $tablet) {
                    font-size: 18px;
                }
            }
        }
      }

      .hero-section {
        padding-top: 150px;

        @media only screen and (min-width: $desktop) {
            display: flex;
        }

        &_content {

            text-align: center;
            padding-top: 5%;

            .widget-info__title {
                margin-top: 5%;
            }

            .widget-info__desc {
                text-align: left;
            }
        }
      }
}